body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbarTop{
  background-color: #fce38a;
}

.adminlink{
  color: black !important;
}

.all-property-cards{
  margin-top: 2em;
}

.indv-property-cards{
  margin: 2em;

}

.book-btn{
  margin: 1em;
}

.booking-form{
  margin: 1em;

}

.email-btn{
  margin-top:1em;
}

.login-box{
  margin:1em
}

.homebtn{
  margin-top: 1em;
}

#pend-book{
  margin-top:2em;
  margin-bottom: 2em;
}


.prop-desc{
  height: 10em;
}